.place-info-icons {

  color: $brand-secondary;

  a {
    color: $brand-secondary;
    text-decoration: none !important;
    &:hover {
      color: $brand-primary;
    }
  }

  .iconbox {
    display: block;
    position: relative;

    border-radius: 50%;
    border: 5px solid $brand-primary;
    padding: 50px 0;
    margin: 0 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;

    &.red {
      background-image: url("/img/fl-red.svg");
      border: 5px solid $brand-danger;
    }

    &.orange {
      background-image: url("/img/fl-orange.svg");
      border: 5px solid $brand-warning;
    }

    &.green {
      background-image: url("/img/fl-green.svg");
      border: 5px solid #9DBF15;
    }

    &.unlock {
      border: 5px solid #9DBF15;
    }

    &.lock {
      border: 5px solid $brand-danger;
    }
  }

  text-align: center;
}

.user-actions {
  display: block;
  width: 100%;
  text-align: right;
}

.map-container-detail {
  width: 100%;
  height: 300px;
}

.property-switch {
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $brand-danger;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3) inset;
  background: linear-gradient(to right, #005fc2, #35A834 40%, #ffd400 65%, #FF6400);
  border-radius: 20px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}

#slide:before {
  content: attr(min);
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  font-size: 1rem;
}

#slide:after {
  content: attr(max);
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  font-size: 1rem;
}

#val {
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100px;
}
}

.custom-file-control:before{
  content: "Browse";
}
.custom-file-control:after{
  content: "Add files..";
}

.upload-photo.save {
  margin-top: 1.5em;
}

  .slider {
    &.slider-horizontal {
      margin-left: 10px;
    }
  }

.slider-rangeHighlight.category1 {
  background: #FF9900;
}

.category1 {
  background-color: #ccc !important;
}

div.tooltip.tooltip-main.top {
  margin-left: 0 !important;
}

.gallery {
  .delete {
    width: 100%;
  }
  .caption {
    padding: 0;
  }
}

.thumbnail {
  .report {
    float: right;
    margin-top: -15px;
  }
}

.reportcomment {
  float: right;
}

.userprofile {
  position: absolute;
  left: 45%;
}

.commentondetail {
  .removecomment {
    text-align: left;
  }
}